<link rel="stylesheet" href="/js/jquery-ui-1.9.2.custom/css/smoothness/jquery-ui-1.9.2.custom.css" />
<script src="/js/jquery-ui-1.9.2.custom/js/jquery-ui-1.9.2.custom.js"></script>

<!-- Main Page Content and Sidebar -->

  <div class="row">
   <!-- Sidebar -->

    <div class="three columns">

      <!-- <h5>Map</h5> -->

      <!-- Clicking this placeholder fires the mapModal Reveal modal -->
      <p>
        <a href="https://wwww.facebook.com"><img src="/images/login_facebook.jpg" /></a><br />
      </p>

    </div>

    <!-- Contact Details -->
    <h3><%= t.conflicto.tuInformacionAyuda %></h3>
      <p><%= t.conflicto.conTuAyuda %></p>

    <div class="twelve columns">
    <div id="accordion">
         <h3><%= t.conflicto.paso(1) %></h3>
         <div >
            <%= t.conflicto.ayuda %>
            <div id='map3'></div>
         </div>
         <h3 id='ac2' ><%= t.conflicto.paso(2) %></h3>
         <div>
            <p>
               <%= t.conflicto.reporteDeConflicto %>

               <%= t.conflicto.asunto %>*
               <input type="text" id="asunto" name='asunto' value = '<%= @asunto %>'/>

               <%= t.conflicto.demandante %>*
               <input type="text" id="demandante" name = 'demandante' value = '<%= @demandantes %>' />

             <%= t.conflicto.demandado %>*
               <input type="text" id="demandado" name='demandado'
                  value = '<%= @demandados %>' />

             <%= t.conflicto.medidasDePresion %>* <input type="text" id="demandado" name='demandado' value = '<%= @medidaPresion %>' />


               <%= t.conflicto.alcance %>
               <input type="text" id="alcance" name='alcance' value = '<%= @alcance %>' />

             <%= t.conflicto.descripcion %>
             <textarea rows="4" id='resumen' name='resumen' value = '<%= @resumen %>' >
             </textarea>

             <a href='/<%= locale %>/reporte/enviado'><input class="button" type='submit' value='<%= t.conflicto.mandar%>'></a>
            </p>
         </div>
      </div>
    </div>
    <!--<div id="myModal" class="reveal-modal [expand, xlarge, large, medium, small]">-->
      <!--<h2>Awesome. I have it.</h2>-->
      <!--<p class="lead">Your couch.  It is mine.</p>-->
      <!--<p>Im a cool paragraph that lives inside of an even cooler modal. Wins</p>-->
      <!--<a class="close-reveal-modal">&#215;</a>-->
    <!--</div>-->
    <!-- End Contact Details -->

    <!-- End Sidebar -->
  </div>

  <!-- End Main Content and Sidebar -->

<!-- Map Modal -->

<div class="reveal-modal" id="mapModal" style='height:500;width:800'>

</div>

<!-- End Modal -->

<script src="/js/lib/leaflet/leaflet.js"></script>
<link rel="stylesheet" href="/js/lib/leaflet/leaflet.css" />

<script>
var map;
var markerUser;

function llenaFormulario(x,y,asunto,resumen,alcance,salida,id){
   $('#x1').val(x);
   $('#y1').val(y);
   console.log(x);
   console.log(y);
}
function onMapClick(e) {
   //alert("You clicked the map at " + e.latlng);
   /*
   var popup = L.popup()
      .setLatLng(e.latlng)
      .setContent(sprintf("<a onclick='llenaFormulario(%.5f,%.5f)' src='#' >Reportar nuevo conflicto</a>",e.latlng.lat,e.latlng.lng))
      .openOn(map);
   */
   markerUser.setLatLng(e.latlng);
   markerUser.bindPopup('<a href=/<%= locale+"/reportarConflicto?" %>x='+e.latlng.lat+'&y='+e.latlng.lng +'><%= t.conflicto.deseaCrear%></a>').openPopup();
}

$(document).ready(function() {
   var usuarioResueltoIcon = new L.Icon({
      iconUrl: '/js/lib/leaflet/images/marker-icon_resuelto_parcial.png',
      shadowUrl: '/js/lib/leaflet/images/marker-shadow.png'
   });
   var usuarioLatenteIcon = new L.Icon({
      iconUrl: '/js/lib/leaflet/images/marker-icon_latente_usuario.png',
      shadowUrl: '/js/lib/leaflet/images/marker-shadow.png'
   });
   var usuarioActivoIcon = new L.Icon({
      iconUrl: '/js/lib/leaflet/images/marker-icon_activo_usuario.png',
      shadowUrl: '/js/lib/leaflet/images/marker-shadow.png'
   });

   var parcialResueltoIcon = new L.Icon({
      iconUrl: '/js/lib/leaflet/images/marker-icon_resuelto_parcial.png',
      shadowUrl: '/js/lib/leaflet/images/marker-shadow.png'
   });
   var parcialLatenteIcon = new L.Icon({
      iconUrl: '/js/lib/leaflet/images/marker-icon_latente_parcial.png',
      shadowUrl: '/js/lib/leaflet/images/marker-shadow.png'
   });
   var parcialActivoIcon = new L.Icon({
      iconUrl: '/js/lib/leaflet/images/marker-icon_activo_parcial.png',
      shadowUrl: '/js/lib/leaflet/images/marker-shadow.png'
   });

   var completoResueltoIcon = new L.Icon({
      iconUrl: '/js/lib/leaflet/images/marker-icon_resuelto_total.png',
      shadowUrl: '/js/lib/leaflet/images/marker-shadow.png'
   });
   var completoLatenteIcon = new L.Icon({
      iconUrl: '/js/lib/leaflet/images/marker-icon_latente_total.png',
      shadowUrl: '/js/lib/leaflet/images/marker-shadow.png'
   });
   var completoActivoIcon = new L.Icon({
      iconUrl: '/js/lib/leaflet/images/marker-icon_activo_total.png',
      shadowUrl: '/js/lib/leaflet/images/marker-shadow.png'
   });

   var terminadoIcon = new L.Icon({
      iconUrl: '/js/lib/leaflet/images/marker-statur_activo_icon.png',
      shadowUrl: '/js/lib/leaflet/images/marker-shadow.png'
   });

   var progresoIcon = new L.Icon({
      iconUrl: '/js/lib/leaflet/images/marker-status_terminado_icon.png',
      shadowUrl: '/js/lib/leaflet/images/marker-shadow.png'
   });

   var normalIcon = new L.Icon();

      map = L.map('map3').setView([-16.49831, -68.1451], 6);
      L.tileLayer('http://{s}.tile.cloudmade.com/{APIKEY}/997/256/{z}/{x}/{y}.png', {
         APIKEY: '5a27ed92198543449be5cb9a79e7e829',
         attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
         maxZoom: 18
      }).addTo(map);
      map.on('click', onMapClick);

      var updateIcon = new L.Icon({
         iconUrl: '/js/lib/leaflet/images/marker-update-icon.png',
         shadowUrl: '/js/lib/leaflet/images/marker-shadow.png'
      });
      var insertIcon = new L.Icon({
         iconUrl: '/js/lib/leaflet/images/marker-add-icon.png',
         shadowUrl: '/js/lib/leaflet/images/marker-shadow.png'
      });

      markerUser = L.marker(
                  [0.0,0.0],
                  {icon: insertIcon}
               );
      markerUser.addTo(map);

      <% Conflicto.activos.each do |conflicto|%>
         <%=
            unless conflicto.lugares.first.x.nil?
               erb(:'marker_conflicto.js',
                   :layout => false,
                   :locals => {
                        :conflicto => conflicto,
                        :toForm => true,
                        :highlightMarker => (
                                             @conflictoSeleccionado.nil? == false and
                                             conflicto.id == @conflictoSeleccionado.id
                                          )
                        }
                  )
            end
         %>
      <% end %>
      <% if @conflictoSeleccionado.nil? == false or @x.nil? == false %>
         $('#ac2').click();
      <% end %>
});
</script>

<script>
   $( "#accordion" ).accordion();
</script>
<!-- Included JS Files (Uncompressed) -->
<script src="/js/foundation/jquery.js"></script>

<script src="/js/foundation/jquery.event.move.js"></script>

<script src="/js/foundation/jquery.event.swipe.js"></script>

<script src="/js/foundation/jquery.foundation.accordion.js"></script>

<script src="/js/foundation/jquery.foundation.alerts.js"></script>

<script src="/js/foundation/jquery.foundation.buttons.js"></script>

<script src="/js/foundation/jquery.foundation.clearing.js"></script>

<script src="/js/foundation/jquery.foundation.forms.js"></script>

<script src="/js/foundation/jquery.foundation.joyride.js"></script>

<script src="/js/foundation/jquery.foundation.magellan.js"></script>

<script src="/js/foundation/jquery.foundation.mediaQueryToggle.js"></script>

<script src="/js/foundation/jquery.foundation.navigation.js"></script>

<script src="/js/foundation/jquery.foundation.orbit.js"></script>

<script src="/js/foundation/jquery.foundation.reveal.js"></script>
<script src="/js/foundation/jquery.foundation.tabs.js"></script>
<script src="/js/foundation/jquery.foundation.tooltips.js"></script>
<script src="/js/foundation/jquery.foundation.topbar.js"></script>

<script src="/js/foundation/jquery.placeholder.js"></script>
